@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>

<div>
    <a href="/Pet/New/">Add Pet</a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Weight</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var Pet in Model)
            {
                <tr>
                    <td><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></td>
                    <td>@Pet.Species.Name</td>
                    <td>@Pet.Weight</td>
                    <td><a href="/Pet/Update/@Pet.PetID">Edit</a></td>
                    <td><a href="/Pet/Delete/@Pet.PetID">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>