@model  List<PetGrooming.Models.Species>
@{
    ViewBag.Title = "Add";
}


<h2>Add a New Pet</h2>

<form method="POST" action="/Pet/Add">
    <!-- TODO: format this nicely -->
    <div class="form-group">
        <label for="PetName">Name:</label>
        <input id="PetName" type="text" class="form-control" name="PetName" />
    </div>
    <div class="form-group">
        <label for="SpeciesID">Species:</label>
        <select id="SpeciesID" class="form-control" type="text" name="SpeciesID">
            @{
                //A rendering loop for presenting a list of species
                //The pet should be one of these species
                foreach (var species in Model)
                {
                    <option value="@species.SpeciesID">@species.Name</option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="PetWeight">Weight:</label>
        <input id="PetWeight" class="form-control" type="text" name="PetWeight" />
    </div>
    <div class="form-group">
        <label for="PetColor">Color:</label>
        <input id="PetColor" type="text" name="PetColor" class="form-control" />
    </div>
    <div class="form-group">
        <label for="PetNotes">Notes:</label>
        <textarea id="PetNotes" class="form-control" name="PetNotes">

        </textarea>
    </div>
    <input type="submit" value="Add Pet">
</form>
